/* pt sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-header,
.main-footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header-container,
.catalog,
.footer-container {
  width: 1060px;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
}

.button {
  min-height: 36px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-brown {
  padding: 8px 26px;
}

.button-brown:hover {
  background-color: #615048;
  cursor: pointer;
}

.button-brown:focus {
  outline: none;
}

.button-brown:focus-visible {
  background-color: #615048;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-blue {
  padding: 8px 20px;
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.button-blue:focus {
  outline: none;
}

.button-blue:focus-visible {
  background-color: #68a2ca;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-green {
  padding: 8px 18px;
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus {
  outline: none;
  background-color: #6c9e42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field:not(:placeholder-shown):hover {
  outline: 2px solid #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* header */
.header-container {
  display: flex;
}

.main-header a {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.logo-header {
  z-index: 1;
  margin-right: 28px;
  margin-bottom: -10px;
}

.logo-header:hover,
.logo-header:focus-visible {
  outline: none;
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}

.navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.navigation-list,
.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list {
  flex-wrap: wrap;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.navigation-link:hover::before,
.navigation-link:focus-visible::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:active{
  color: #333333;
}

.navigation-link:focus {
  color: #333333;
  outline: none;
}

.navigation-user {
  margin-right: 20px;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link:active .navigation-icon,
.navigation-link:focus .navigation-icon {
  fill: #333333;
}

.notification-badge {
  position: absolute;
  top: 20%;
  left: 50%;
  padding: 5px;
  padding-left: 4px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.header-button {
  align-self: center;
  padding: 8px 34px;
}

/* hero  */
.hero {
  position: relative;
  height: 486px;
  color: #15994c;
  text-align: center;
  background-image: url(../images/hero-section/hero-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000218;
}

.hero-picture {
  margin-top: 52px;
  margin-bottom: 25px;
  vertical-align: middle;
}

.divider {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

/* advantages */
.lead-container {
  padding-top: 70px;
  padding-bottom: 90px;
}

.infrastructure .lead-container {
  padding: 64px 0;
}

.lead-title {
  width: 620px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.lead-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.lead-infrastructure {
  width: 505px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.lead + p {
  font-size: 22px;
  line-height: 26px;
}

.advantages h3,
.advantages p {
  margin: 0 auto;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-wide {
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-wide:last-of-type {
  flex-direction: row-reverse;
}

.item-container {
  width: 400px;
  margin: auto 0;
}

.advantages-item img {
  vertical-align: middle; /*убирает отступ под картинкой*/
}

.advantages-item {
  min-height: 384px;
}

.advantages-title {
  width: 175px;
  padding-bottom: 31px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title::after {
  display: block;
  width: 60px;
  height: 2px;
  margin: 0 auto;
  margin-top: 31px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-item-wide .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-description {
  width: 230px;
}

/* infrastructure */
.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.infrastructure-item {
  width: 400px;
  padding: 80px 0;
}

.infrastructure-item:not(:nth-child(2n)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-title {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.infrastructure-item:nth-child(1) .infrastructure-title::before {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  padding-bottom: 30px;
  background-image: url(../images/infrastructure/house.svg);
  background-repeat: no-repeat;
  content: "";
}

.infrastructure-item:nth-child(2) .infrastructure-title::before {
  display: block;
  width: 74px;
  height: 70px;
  margin: 0 auto;
  padding-bottom: 30px;
  background-image: url(../images/infrastructure/food.svg);
  background-repeat: no-repeat;
  content: "";
}

.infrastructure-item:nth-child(3) .infrastructure-title::before {
  display: block;
  width: 64px;
  height: 76px;
  margin: 0 auto;
  padding-bottom: 30px;
  background-image: url(../images/infrastructure/gift.svg);
  background-repeat: no-repeat;
  content: "";
}

.infrastructure-description {
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}


/* search */
.search {
  padding: 96px 0;
  text-align: center;
}

.search-title {
  padding-bottom: 20px;
}

.search-decription,
.search-button {
  margin: 0 auto;
}

.search-decription {
  width: 592px;
  padding-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.search-button {
  display: block;
  width: 380px;
  min-height: 52px;
  box-sizing: border-box;
  padding: 8px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}


/*-------------------- catalog.html sections --------------------*/

.background-container {
  padding: 0 70px;
  padding-top: 35px;
  padding-bottom: 70px;
  color: #ffffff;
  background-image: url(../images/filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000218;
}

.inner-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* breadcrumbs */
.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  margin-left: -10px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  display: inline-block;
  width: 7px;
  height: 21px;
  background-image: url(../images/breadcrumbs/arrow.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  padding: 20px 10px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:not(.breadcrumbs-item:first-child .breadcrumbs-link) {
  margin-left: 7px;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.breadcrumbs-link:hover .breadcrumbs-icon,
.breadcrumbs-link:focus .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.6);
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.3);
}

/* filter */
.filter-form {
  display: flex;
}

.filter-form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form-group ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-form-group:nth-of-type(1),
.filter-form-group:nth-of-type(2) {
  width: 152px;
}

.filter-form-group:nth-of-type(1) {
  margin-right: 68px;
}

.filter-form-group:nth-of-type(2) {
  margin-right: 136px;
}

.filter-form-group:nth-of-type(3) {
  width: 288px;
  margin-right: 68px;
}

.filter-form-item:not(:last-child) {
  padding-bottom: 16px;
}

.filter-form-title { /*legend*/
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control { /*label*/
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.filter-form-group:nth-of-type(2) .control-mark {
  background-color: #ffffff;
  border-radius: 50%;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:hover .control-label {
  color: rgba(255, 255, 255, 0.6);
}

.control:focus-within .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active .control-mark {
  outline: 2px solid #83b3d3;
  background-color: #ffffff;
}

.control:focus-within .control-mark-house {
  border-radius: 50%;
}

.control:active .control-mark-house {
  border-radius: 50%;
  background-color: #ffffff;
}

.control:active .control-label {
  color: #ffffff;
}

.control-input:disabled ~ .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.control-input:disabled ~ .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.filter-form-group:last-of-type .control-input:first-of-type {
  margin-right: -3px; /*подгон*/
}

.control-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.control-input[type="checkbox"]:checked + .control-mark {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/tick.svg);
  background-position: 50% 50%;
}

.control-input[type="radio"]:checked + .control-mark:before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="text"] {
  width: 143px;
  height: 48px;
  box-sizing: border-box;
  padding-left: 20px;
  background-color: #f2f2f2;
  border: none;
}

.control-input[name="from"] {
  border-radius: 4px 0 0 4px;
}

.control-input[name="to"] {
  border-radius: 0 4px 4px 0;
}

.control-input::placeholder {
  padding-right: 20px;
  text-align: right;
}

.control-input[type="text"]:hover {
  background-color: #e6e6e6;
}

.control-input:not(:placeholder-shown):hover {
  outline: 2px solid #000000;
}

.control-input[type="text"]:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.filter-form-group:last-of-type .control-input {
  width: 143px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-left: auto;
}

.button-apply,
.button-reset {
  padding: 8px 40px;
}

.button-apply {
  width: 190px;
  margin-bottom: 33px; /*подгон (в макете 32px)*/
}

.button-apply:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

.button-reset {
  background-color: transparent;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.button-reset:focus-visible {
  outline: 3px solid #83b3d3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: default;
}

/* catalog */
.catalog {
  padding-top: 48px;
}

.sorting-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

/* сортировка */
.select-control {
  width: 292px;
  min-height: 49px;
  margin-left: auto;
  margin-right: 70px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  /*стрелка у select*/
  appearance: none;
  background: url(../images/sorting/arrow.svg) no-repeat right;
  background-position-x: calc(100% - 20px);
}

.select-control:hover {
  border: 2px solid #68a2ca;
  cursor: pointer;
}

.select-control:focus-visible {
  border: 2px solid #68a2ca;
  outline: auto;
  cursor: pointer;
}

.select-control:active {
  border: 2px solid #3f5e72;
  outline: none;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  fill: rgba(0, 0, 0, 0.3);
  background: url(../images/sorting/arrow-disabled.svg) no-repeat right;
  background-position-x: calc(100% - 20px);
  border: 2px solid rgba(0, 0, 0, 0.3);
  cursor: default;
}

.catalog-method-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.catalog-method-item {
  width: 48px;
  height: 48px;
}

.catalog-method-link {
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.catalog-method-link:hover {
  border-color: #000000;
}

.catalog-method-link:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.catalog-method-link:active {
  border-color: #000000;
}

.catalog-method-item:nth-child(1) .catalog-method-link {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/catalog-method/little-cards.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.catalog-method-item:nth-child(2) .catalog-method-link {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/catalog-method/big-cards.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.catalog-method-item:nth-child(3) .catalog-method-link {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/catalog-method/list.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.catalog-method-item:not(:last-child) {
  margin-right: 8px;
}

/* каталог отфильтрованных гостиниц */
.catalog p {
  margin: 0;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-gap: 20px;
  list-style-type: none;
}

.catalog-item {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.catalog-title-link,
.catalog-picture-link {
  grid-column: 1 / -1;
}

.catalog-picture-link:hover,
.catalog-picture-link:focus-visible {
  outline: none;
  opacity: 0.6;
}

.catalog-picture-link:active {
  opacity: 0.3;
}

.catalog-title-link {
  padding: 10px;
  margin: -10px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
}

.catalog-title-link:hover,
.catalog-title-link:focus-visible {
  outline: none;
  opacity: 0.6;
}

.catalog-title-link:active {
  opacity: 0.3;
}

.catalog-picture {
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.catalog-title {
  margin: 0;
}

.catalog-price {
  text-align: right;
  font-weight: 400;
}

.button-rating {
  display: block;
  grid-column: 1 / -1;
  justify-self: right;
  padding: 8px 23px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.button-rating:hover,
.button-rating:focus-visible {
  outline: none;
  opacity: 0.8;
}

.button-rating:active {
  opacity: 0.6;
}

.button-rating::before {
  position: absolute;
  left: 20px;
  bottom: 30px;
  display: inline-block;
  width: 22px;
  height: 18px;
  background-image: url(../images/catalog/star.svg);
  background-repeat: repeat-x;
  content: '';
}

.catalog-item:nth-child(1) .button-rating::before,
.catalog-item:nth-child(2) .button-rating::before {
  width: 92px;
}

.catalog-item:nth-child(3) .button-rating::before {
  width: 68px;
}

.catalog-item:nth-child(4) .button-rating::before {
  width: 44px;
}

/* пагинация */
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-top: 40px;
  border-top: 1px solid #E6E6E6;
  list-style-type: none;
}

.pagination-item {
  box-sizing: border-box;
  margin-bottom: 8px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-none,
.pagination-link-none:hover,
.pagination-link-none:focus,
.pagination-link-none:active {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}
/*-------------------- --------------------*/


/* subscirbe */
.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000218;
  text-align: center;
  color: #ffffff;
}

.subscribe-inner {
  text-align: center;
  padding-top: 148px; /*из-за margin-bottom: 8px у элементов пагинации*/
  padding-bottom: 104px;
  color: #000000;
}

.subscribe-title {
  padding-bottom: 20px;
}

.subscribe .subscribe-title{
  color: #ffffff;
}

.subscribe-description {
  margin: 0 auto;
  padding-bottom: 54px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-inner .subscribe-description {
  color: #333333;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 452px 232px;
  justify-content: center;
}

.subscribe-form-name {
  margin: 0;
  display: flex;
}

.subscribe-form input {
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.subscribe-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

/* footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-button {
  display: block;
  min-width: 18px;
  min-height: 16px;
}

.social-icon {
  fill: #83b3d3;
}

.social-button:hover .social-icon {
  fill: #68a2ca;
}

.social-button:focus {
  outline: none;
}

.social-button:focus .social-icon {
  fill: #68a2ca;
}

.social-button:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.footer-contacts-item {
  padding: 14px;
  text-align: center;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.footer-contacts-item:hover {
  color: #756157;
}

.footer-contacts-item:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-item:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  padding: 14px 0;
}

.htmlacademy-link:hover .htmlacademy-logo {
  fill: #756157;
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link:focus .htmlacademy-logo {
  fill: #756157;
}

.htmlacademy-link:active .htmlacademy-logo {
  fill: rgba(117, 97, 87, 0.3);
}


/*-- modal --*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 577px;
  min-height: 448px;
}

.modal-close {
  display: none;
}

.input-container {
  margin-bottom: 46px;
}

.modal-button {
  position: absolute;
  top: 64px;
  right: 64px;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #e6e6e6;
}

.modal-button:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-button::before,
.modal-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  background-color: #000000;
  content: '';
}

.modal-button::before {
  transform: translatex(-9px) translatey(-1px) rotate(45deg);
}

.modal-button::after {
  transform: translatex(-9px) translatey(-1px) rotate(-45deg);
}

.modal-button:active::before,
.modal-button:active::after {
  background-color: rgba(117, 97, 87, 0.3);
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.field-group {
  margin-bottom: 24px;
}

.field-group-container {
  display: flex;
}

.input-status {
  display: inline-block;
  margin-left: 157px;
  padding-top: 4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.input-status-error {
  color: #ff5757;
}

.search-form-label {
  width: 137px;
  align-self: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.form-label-icon {
  width: 130px;
}

.search-form-field {
  width: 440px;
  height: 48px;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-image: url(../images/modal/date.svg);
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;

}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.counter-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.tooltip-toogle {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  transform: translatex(-50%);
  display: none;
  width: 256px;
  box-sizing: border-box;
  margin: 0;
  margin-top: 15px;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-text::before {
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translatex(-50%);
  width: 19px;
  height: 9px;
  background-image: url(../images/tooltip-arrow.svg);
  content: '';
}

.tooltip-toogle:focus {
  outline: none;
}

.tooltip-toogle:hover {
  cursor: pointer;
}

.tooltip-toogle:hover + .tooltip-text,
.tooltip-toogle:focus + .tooltip-text {
  display: block;
}

.search-form-counter {
  width: 31px;
  height: 48px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.counter:focus {
  outline: 3px solid #82b3d3;
}

.button-minus {
  margin-right: -5px;
  background-image: url(../images/modal/minus-grey.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.button-plus {
  margin-left: -5px;
  background-image: url(../images/modal/plus-grey.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.button-plus:after {
  transform: translatex(-7px) rotate(90deg);
}

.button-minus,
.button-plus {
  position: relative;
  width: 40px;
  appearance: none;
}

input::-webkit-outer-spin-button, /* убирает стрелочки у input:number */
input::-webkit-inner-spin-button {
    /* display: none; <- crashes chrome on hover */
    margin: 0;
    -webkit-appearance: none;
}

.button-minus:hover {
  background-image: url(../images/modal/minus.svg);
}

.button-plus:hover {
  background-image: url(../images/modal/plus.svg);
}

.button-minus:active {
  background-image: url(../images/modal/minus-grey.svg);
}

.button-plus:active {
  background-image: url(../images/modal/plus-grey.svg);
}

.button-minus:focus-visible,
.button-plus:focus-visible {
  outline: 3px solid #82b3d3;
}

.counter-group-container {
  margin: 0;
  padding: 0;
}

.search-form-button {
  width: 100%;
  min-height: 60px;
  background-color: #83b3d3;
  border-radius: 10px;
}
