/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  color: #333333;
}

.main-container {
  flex-grow: 1;
}

.main-index-container {
  width: 1200px;
  margin: 0 auto;
}

.header-container, .footer-container {
  width: 1060px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.button {
  background: #756157;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Header */
.header-container {
  display: flex;
}

.main-header a {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.logo-header {
  margin-right: 30px;
}

.navigation {
  width: 870px;
  display: flex;
}

.navigation-list {
  padding: 0;
  list-style: none;
  width: 440px;
}

.navigation-user {
  max-width: 135px;
  margin-right: 20px;
  margin-left: auto;
}

.navigation-link, .navigation-user-link {
  color: #333333;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-user-link-search::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/header/search.svg);
  background-repeat: no-repeat;
}

.navigation-user-link-favorite {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/header/favorite.svg);
  background-repeat: no-repeat;
}

.notification-badge {
  background: #7DB54F;
  color: #ffffff;
  margin-left: 20px;
  font-size: 10px;
  line-height: 10px;
}

.header-button {
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}


/* Hero  */
.hero {
  background-image: url(../images/hero-section/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}


/* Advantages */
/*-- Так предлагает эталонная вёрстка --*/
.advantages h3, .advantages p {
  text-align: center;
}
/*-- --*/

.lead {
  color: #000000;
  margin: 0 auto;
}

.lead-advantages {
  width: 620px;
}

.lead-infrastructure {
  width: 505px;
}

.lead + p {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.item-container {
  width: 400px;
}

.advantages-item {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-wide {
  display: flex;
  width: 100%;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item h3, .advantages-item p {
  margin: 0 auto;
}

.advantages-item img {
  display: block;
}

.advantages-title {
  width: 175px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.advantages-item-wide .advantages-title::after {
  content: "";
  background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  width: 230px;
}

/* Infrastructure */
.infrastructure-list {
  padding: 0;
  display: flex;
  list-style: none;
}

.infrastructure-item {
  width: 400px;
}

.infrastructure-item:not(:nth-child(2)) {
  background: rgba(131, 179, 211, 0.12);
}

.infrastructure-item h3, .infrastructure-item p {
  margin: 0 auto;
}

.infrastructure-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.infrastructure-item:nth-child(1) .infrastructure-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url(../images/infrastructure/house.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.infrastructure-item:nth-child(2) .infrastructure-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url(../images/infrastructure/food.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.infrastructure-item:nth-child(3) .infrastructure-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url(../images/infrastructure/gift.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.infrastructure-description {
  width: 230px;
}


/* Search */
.search {
  text-align: center;
}

.search-decription, .search-button {
  margin: 0 auto;
}

.search-decription {
  width: 590px;
  font-size: 22px;
  line-height: 26px;
}

.search-button {
  display: block;
  width: 380px;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}


/*-------------------- Catalog.html sections --------------------*/
/*-- Background-container --*/
.background-container {
  background-image: url(../images/filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/* Breadcrumbs */
.breadcrumbs-item:first-child {
  padding-right: 20px;
}

.breadcrumbs-item:first-child a::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url(../images/breadcrumbs/main.svg);
  background-repeat: no-repeat;
}

/* Filter */
.filter-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

/*- Так предлагает эталонная вёрстка -*/
.filter-form-group:last-of-type .control {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
/*-  -*/

.control-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.control-input[name="from"] {
  background: #F2F2F2;
  border: none;
}

.control-input[name="to"] {
  background: #F2F2F2;
  border: none;
}

.button-apply {
  background: #82B3D3;
}

.button-reset {
  background-color: transparent;
}
/*-- --*/

/* Catalog */
/*-- Sorting container --*/
/* Сортировка */
.select-control {
  font-size: 18px;
  line-height: 21px;
}

/* Метод изображения каталога гостиниц */
.catalog-method-item:nth-child(1) .catalog-method-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url(../images/catalog-method/little-cards.svg);
  background-repeat: no-repeat;
}

.catalog-method-item:nth-child(2) .catalog-method-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url(../images/catalog-method/big-cards.svg);
  background-repeat: no-repeat;
}

.catalog-method-item:nth-child(3) .catalog-method-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url(../images/catalog-method/list.svg);
  background-repeat: no-repeat;
}
/*-- --*/

/* Каталог отфильтрованных гостиниц */
.catalog-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.catalog-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.catalog-price {
  font-weight: 400;
}

.button-more {
  background: #756157;
}

.button-favorites {
  background: #82B3D3;
}

.button-favorites-current {
  background: #7DB54F;
}

.button-rating {
  font-weight: 400;
  background: #F2F2F2;
  color: #333333;
}

/* Пагинация */
.pagination-link {
  background: #82B3D3;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}
/*-------------------- --------------------*/


/* Subscirbe */
.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.subscribe h2, .subscribe p, .subscribe form {
  margin: 0 auto;
}

.subscribe-inner {
  background-color: #F2F2F2;
  color: #000000;
}

.subscribe-description {
  width: 475px;
}

.subscribe-inner-description {
  color: #333333;
}

.subscribe-title + p {
  font-size: 22px;
  line-height: 26px;
}

.subscirbe-form-name input {
  font-size: 18px;
  line-height: 24px;
}

.subscribe-button {
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
}


/* Footer */
.footer-container {
  display: flex;
}

.footer-social-list {
  padding: 0;
  width: 142px;
  list-style: none;
}

.footer-social-item:nth-child(1) .social-button::before {
  content: "";
  display: block;
  width: 24px;
  height: 14px;
  background-image: url(../images/social/vkontakte.svg);
  background-repeat: no-repeat;
}

.footer-social-item:nth-child(2) .social-button::before {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  background-image: url(../images/social/telegram.svg);
  background-repeat: no-repeat;
}

.footer-social-item:nth-child(3) .social-button::before {
  content: "";
  display: block;
  width: 22px;
  height: 17px;
  background-image: url(../images/social/youtube.svg);
  background-repeat: no-repeat;
}

.footer-contacts {
  width: 680px;
  margin-left: auto;
}

.footer-contacts-item {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
}

.htmlacademy-link {
  float: right;
}
