/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.page-container {
  width: 1280px;
  margin: 0 auto;
  background-color: #F2F2F2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.main-header, .main-footer {
  width: 1200px;
  margin: 0 auto;
}

.header-container, .content-wrapper, .footer-container {
  width: 1060px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.button {
  background: #756157;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Header */
.main-header {
  margin-bottom: -10px;
}

.navigation, .header-button {
  margin-bottom: 10px;
}

.header-container {
  display: flex;
}

.main-header a {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.logo-header {
  margin-right: 28px;
}

.navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.navigation-list, .navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.navigation-list {
  flex-wrap: wrap;
}

.navigation-user {
  margin-right: 20px;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-user-item {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-link, .navigation-user-link {
  color: #333333;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-user-link-search::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/header/search.svg);
  background-repeat: no-repeat;
}

.navigation-user-link-favorite {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/header/favorite.svg);
  background-repeat: no-repeat;
}

.notification-badge {
  margin-left: 20px;
  background: #7DB54F;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}

.header-button {
  padding: 8px 34px;
  align-self: center;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}


/* Hero  */
.hero {
  background-image: url(../images/hero-section/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000218;
  color: #ffffff;
  text-align: center;
  margin-bottom: 70px;
}

.hero-picture {
  vertical-align: middle;
  margin-top: 52px;
  margin-bottom: 25px;
}

/* Advantages */
.lead-container {
  margin-bottom: 70px;
}

.lead {
  color: #000000;
  margin: 0 auto;
}

.lead-advantages {
  max-width: 620px;
  padding-bottom: 25px;
}

.lead-infrastructure {
  max-width: 505px;
  padding-bottom: 20px;
}

.lead + p {
  font-size: 22px;
  line-height: 26px;
}

.advantages h3, .advantages p {
  text-align: center;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 64px;
}

.advantages-item {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-wide {
  width: 100%;
  display: flex;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-wide:last-of-type {
  flex-direction: row-reverse;
}

.item-container-wide {
  margin: auto 0;
  width: 400px;
}

.item-container {
  color: #000000;
  padding: 112px 0;
}

.advantages-item img {
  vertical-align: middle; /*Убирает отступ под картинкой*/
}

.advantages-item {
  min-height: 384px;
}

.advantages-title {
  width: 175px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 62px;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.advantages-item-wide .advantages-title::after {
  content: "";
  background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  width: 230px;
}

/* Infrastructure */
.infrastructure {
  margin-bottom: 96px;
}

.infrastructure .lead-container {
  margin-bottom: 64px;
}

.infrastructure-list {
  padding: 0;
  display: flex;
  list-style: none;
}

.infrastructure-item {
  width: 400px;
  padding: 82px 0;
}

.infrastructure-item:not(:nth-child(2)) {
  background: rgba(131, 179, 211, 0.12);
}

.infrastructure-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 30px;
}

.infrastructure-item:nth-child(1) .infrastructure-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url(../images/infrastructure/house.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 30px;
}

.infrastructure-item:nth-child(2) .infrastructure-title::before {
  content: "";
  display: block;
  width: 74px;
  height: 70px;
  background-image: url(../images/infrastructure/food.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 30px;
}

.infrastructure-item:nth-child(3) .infrastructure-title::before {
  content: "";
  display: block;
  width: 64px;
  height: 76px;
  background-image: url(../images/infrastructure/gift.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 30px;
}

.infrastructure-description {
  width: 230px;
}


/* Search */
.search {
  text-align: center;
  margin-bottom: 96px
}

.search h2 {
  margin: 0;
  padding-bottom: 20px;
}

.search-decription, .search-button {
  margin: 0 auto;
}

.search-decription {
  width: 592px;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 54px;
}

.search-button {
  display: block;
  width: 380px;
  padding: 8px 0;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}


/*-------------------- Catalog.html sections --------------------*/

.background-container {
  width: 1200px;
  margin: 0 auto;
  background-image: url(../images/filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #000218;
  color: #ffffff;
}

.inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/* Breadcrumbs */
.breadcrumbs-list {
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-item:first-child {
  padding-right: 20px;
  align-self: center;
}

.breadcrumbs-item:first-child a::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url(../images/breadcrumbs/main.svg);
  background-repeat: no-repeat;
}

/* Filter */
.filter-form {
  display: flex;
}

.filter-form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form-group ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-form-group:nth-of-type(1), .filter-form-group:nth-of-type(2) {
  width: 150px;
}

.filter-form-group:nth-of-type(1) {
  margin-right: 70px;
}

.filter-form-group:nth-of-type(2) {
  margin-right: 140px;
}

.filter-form-group:nth-of-type(3) {
  width: 350px;
}

.filter-form-title { /*legend*/
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control { /*label*/
  font-size: 18px;
  line-height: 23px;
}

/*- Так предлагает эталонная вёрстка -*/
.filter-form-group:last-of-type .control {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.control-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.control-input[name="from"] {
  background: #F2F2F2;
  border: none;
}

.control-input[name="to"] {
  background: #F2F2F2;
  border: none;
}

.filter-form-group:last-of-type .control-input {
  width: 143px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.button-apply {
  background: #82B3D3;
}

.button-reset {
  background-color: transparent;
}


/* Catalog */
.sorting-container {
  display: flex;
}

/* Сортировка */
.select-control {
  width: 290px;
  align-self: center;
  margin-left: auto;
  font-size: 18px;
  line-height: 21px;
}

.catalog-method-item:nth-child(1) .catalog-method-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url(../images/catalog-method/little-cards.svg);
  background-repeat: no-repeat;
}

.catalog-method-item:nth-child(2) .catalog-method-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url(../images/catalog-method/big-cards.svg);
  background-repeat: no-repeat;
}

.catalog-method-item:nth-child(3) .catalog-method-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url(../images/catalog-method/list.svg);
  background-repeat: no-repeat;
}

/* Каталог отфильтрованных гостиниц */
.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.catalog-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.catalog-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.catalog-price {
  font-weight: 400;
}

.button-more {
  background: #756157;
}

.button-favorites {
  background: #82B3D3;
}

.button-favorites-current {
  background: #7DB54F;
}

.raiting {
  background: #F2F2F2;
}

.button-rating {
  font-weight: 400;
  background: #F2F2F2;
  color: #333333;
}

/* Пагинация */
.pagination {
  padding: 0;
  display: flex;
  list-style: none;
}

.pagination-link {
  background: #82B3D3;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}
/*-------------------- --------------------*/


/* Subscirbe */
.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000218;
  color: #ffffff;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
  margin-bottom: 40px;
}

.subscribe-inner {
  color: #000000;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
  margin-bottom: 40px;
}

.subscribe h2 {
  margin: 0;
  padding-bottom: 20px;
}

.subscribe-description {
  margin: 0 auto;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 54px;
}

.subscribe-inner .subscribe-description {
  color: #333333;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscirbe-form-name {
  margin: 0;
}

.subscirbe-form-name input {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  width: 452px;
  height: 52px;
}

.subscribe-button {
  padding: 0 50px;
  height: 52px;
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
}


/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.footer-social-list {
  display: flex;
  max-width: 142px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.footer-social-item, .footer-social-item .social-button::before {
  width: 47.33px;
  height: 40px;
}

.footer-social-item:nth-child(1) .social-button::before {
  content: "";
  display: block;
  background-image: url(../images/social/vkontakte.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer-social-item:nth-child(2) .social-button::before {
  content: "";
  display: block;
  background-image: url(../images/social/telegram.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;

}

.footer-social-item:nth-child(3) .social-button::before {
  content: "";
  display: block;
  background-image: url(../images/social/youtube.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;

}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.footer-contacts-item {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
}
